#Python build files
/dist/
__pycache__/
/*-env/
/env-*/
/build/
**/_build/
**/*.html
**/Spectra_dict.json    
**/lib/
/*.egg-info/
*.egg-info/
*.egg

#Individual files
pyproject_deprecated.toml
.vscode/settings.json
